body {
    margin: 0;
    height: 100vh;
    background-image: url("../img/papyrus-dark.png");
    font-family: 'Poppins', sans-serif;
}

span {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

i {
    margin-right: 5px;
}

.audio-container {
    margin: 50px auto;
}

.footer {
    width: 420px;
    padding: 10px;
    margin: 4rem auto;
    color: #fff;
    text-align: center;
}

.navigation {
    background: #141414;
}

.navigation h1 {
    color: #5AEDD2;
}

.navigation .icon {
    color: #F28E13;
}

.myProgress {
    width: 400px;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 5;
    width: 80%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F28E13;
    border-radius: 5px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 13px;
    width: 4px;
    border-radius: 50px;
    background: #2a6586;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F28E13;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F28E13;
    border-radius: 5px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 13px;
    width: 4px;
    border-radius: 50px;
    background: #2a6586;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #F28E13;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #F28E13;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 13px;
    width: 4px;
    border-radius: 50px;
    background: #2a6586;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #F28E13;
}

input[type=range]:focus::-ms-fill-upper {
    background: #F28E13;
}

.btn-action {
    cursor: pointer;
    padding-top: 10px;
    width: 30px;
}

.btn-ctn,
.infos-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-ctn {
    padding-top: 20px;
}

.infos-ctn .title {
    display: block;
}

.btn-ctn>div {
    padding: 5px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.infos-ctn>div {
    margin-bottom: 8px;
    color: #3FA693;
}

.first-btn {
    margin-left: 3px;
}

.title {
    margin-left: 10px;
    width: 210px;
    text-align: center;
}

.player-ctn {
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    background-color: #0e0e0e;
    margin: 100px auto 20px auto;
}

.playlist-track-ctn {
    display: flex;
    background-color: #0e0e0e;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
    width: 600px;
}

.playlist-ctn ul li {
    list-style-type: none;
}

.playlist-track-ctn>div {
    margin: 10px;
}

.playlist-info-track {
    width: 80%;
}

.playlist-ctn {
    padding-bottom: 20px;
    width: 600px;
    margin: 9px auto 20px auto;
}

.active-track {
    background: #4d4d4d;
    color: #3FA693 !important;
    font-weight: bold;
}

.fas {
    color: #3FA693;
    font-size: 20px;
}

.hide {
    display: none;
}

.plist-style {
    border-collapse: collapse;
    width: 95%;
}

.plist-style li {
    border: 0.5px solid #4ac7b038;
    padding: 9px;
}