body {
    margin: 0;
    height: 100vh;
    background-image: url("./assets/img/papyrus-dark.png");
    font-family: 'Poppins', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.audio-container {
    margin: 50px auto;
}

.slider {}

.footer {
    margin: 50px auto;
    color: #fff;
}